/*
#flattening-deep-hierarchies-of-components:hover,
#flattening-deep-hierarchies-of-components:focus {
  background-color: #231F20;
  background-image: url('/img/splash.gif');
  background-position: center 75%;
  background-repeat: no-repeat;
  background-size: 400px 300px;
  color: white;
}
#flattening-deep-hierarchies-of-components:hover date,
#flattening-deep-hierarchies-of-components:focus date { color: white !important; }

#touch-and-mouse-together:hover,
#touch-and-mouse-together:focus {
  background-image: url('/img/triangleninja.gif');
  background-position: center center;
  background-size: 100%;
  color: white;
}
#touch-and-mouse-together:hover date,
#touch-and-mouse-together:focus date { color: white !important; }
*/
