---
layout: default
title: Homesick
---
{% include nav-projects.html %}

<article class="mw8 center ph3 ph5-l f5 lh-copy dark-gray sans-serif mv6">

  <header class="system-sans">
    <h1 class="f3 f2-m f1-ns ma0">
      Homesick
    </h1>
    <p class="light-silver">
      An installation I built to overcome the loss of my childhood home in India. It had been recently sold, demolished and replaced by an apartment building.
    </p>

    <p class="light-silver f6 mb0">16 metal hooks, steel cable, 4 turnbuckles, 84 sq.m. of cloth &amp; thread | 7.11m x 5.00m x 3.84m</p>
  </header>

  <div class="bb b--light-gray bw2 w3 mv5"></div>

  <img class="mb4" src="/img/homesick/colours.png" />
  <img class="mb4" src="/img/homesick/homesick1.png" />
  <img class="mb4" src="/img/homesick/homesick2.png" />
  <img class="mb4" src="/img/homesick/homesick3.png" />
  <img class="mb4" src="/img/homesick/homesick4.png" />
  <img class="mb4" src="/img/homesick/homesick5.png" />
  <img class="mb4" src="/img/homesick/logo.png" />

  {% include footer.html %}
</article>
