---
layout: default
title: Tethered Motion
---
{% include nav.html styles='mw8 ph5-l' %}

<article class="mw8 center ph3 ph5-l f5 lh-copy dark-gray sans-serif mv6">

  <header class="system-sans">
    <h1 class="f3 f2-m f1-ns ma0">
      Tethered Motion
    </h1>
    <p class="light-silver">
      Tethered Motion is a giant wind-up toy that comes to life when participants turn a large metal crank. Once animated the flat wooden surface mimics a bird in flight.
    </p>

    <p class="light-silver mb0">Presented at the 2012 Scotiabank Nuit Blanche, Toronto.</p>
  </header>

  <div class="bb b--light-gray bw2 w3 mv5"></div>

  <div class="aspect-ratio aspect-ratio--16x9 mb4">
    <iframe class="aspect-ratio--object"
      src="https://player.vimeo.com/video/33856887"
      width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </div>

  <img class="mb4 w-100" src="/img/tethered-motion.gif" />
  <img class="mb4 w-100" src="/img/wave.gif" />

  {% include footer.html %}
</article>
