---
layout: default
title: Writing
---

{% include nav-post.html %}
<article class="mw7 center ph3 mv6 dark-gray">
  <header class="system-sans">
    <h1 class="f3 f2-m f1-ns ma0">
      {{ page.title }}
    </h1>
    <p class="light-silver mb0">
      Thoughts about JavaScript, CSS and reactive animations.
    </p>
  </header>
  <div class="bb b--light-gray bw2 w3 mv5"></div>
  <ul class="list pl0">
    {% for post in site.posts %}
      <li class="nl3 nr3">
        <a href="{{ post.url | absolute_url }}"
          title="{{ post.title }}"
          id="{{ post.url | slugify }}"
          class="link db pv3 hide-child relative pl3 dark-gray">
          <div class="absolute absolute--fill"></div>
          <date class="f6 gray db mb1" datetime="{{ post.date }}">
            {% include date.html date=post.date %}
          </date>
          <span class="f3 f2-ns">{{ post.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</article>

<div class="mw7 center ph3">
  {% include footer.html %}
</div>
{% include google-analytics.html %}
