---
layout: default
title: Varun Vachhar
---
{% include icons/icon-system.html %}
<div class="mw9 center ph5-l f5 lh-copy dark-gray sans-serif">

  <header class="mt6 mb5 ph3">
    <h1 class="ma0 f4">
      <span class="vocalizer pointer relative bg-child bg-child-gold">
        Varun Vachhar
        <svg viewBox="0 0 24 24"
          class="br-100 bg-moon-gray child white"
          width="10" height="10"
          style="padding: 2px;">
          <use xlink:href="#speaker"></use>
        </svg>
      </span>
    </h1>
    <p class="mt0 measure-wide">finder of new ways to confuse myself</p>
  </header>

  <section class="mb4 ph3">
    <h2 class="ma0 f4">About</h2>
    <p class="mt0 measure-wide">Originally from New Delhi, India. I am a developer with a strong focus on design, interactivity and animation. I currently live in Toronto, Canada and work as a developer at <a class="link dim primary" href="https://rangle.io/">Rangle.io</a>. In my spare time, I like to experiment with creative coding, making playful experiences for the web and <a class="link dim primary" href="http://triangle.life">triangles</a>.</p>
  </section>

  <nav class="measure-wide mb6">
    <a class="fw5 ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="{{ site.writing_desc }}"
      href="{{ 'writing' | absolute_url }}">
      Writing
    </a>
    <a class="fw5 ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="varun vachhar on twitter"
      href="http://twitter.com/winkerVSbecks">
      Twitter
    </a>
    <a class="fw5 ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="varun vachhar on github"
      href="http://github.com/winkerVSbecks">
      Github
    </a>
    <a class="fw5 ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="varun vachhar on CodePen"
      href="http://codepen.io/winkerVSbecks">
      CodePen
    </a>
    <a class="fw5 ph3 pv2 pv3-ns flex-auto link dark-gray dim dn dib-ns"
      title="varun vachhar on dribbble"
      href="http://dribbble.com/winkerVSbecks">
      Dribbble
    </a>
  </nav>

  <section class="measure-wide mh3 mb6">
    <h2 class="ma0">
      <a title="{{ site.writing_desc }}"
        class="db link f4 bb pv3 dark-gray hide-move-child flex items-center"
        href="{{ 'writing' | absolute_url }}">
        Recent Posts
        {% include icons/icon.html type="arrow-right" class="child ml1" %}
      </a>
    </h2>

    {% for post in site.posts limit:3 %}
      <a class="db f4 link dark-gray pv3 bb dim"
        href="{{ post.url | absolute_url }}"
        title="{{ post.title }}">
        {{ post.title }}
      </a>
    {% endfor %}
  </section>

  <section class="mb6">
    <h2 class="ma0 mh3">
      <a title="{{ site.writing_desc }}"
        class="db link f4 pv3 dark-gray hide-move-child flex items-center"
        href="{{ 'projects' | absolute_url }}">
        Projects
        {% include icons/icon.html type="arrow-right" class="child ml1" %}
      </a>
    </h2>

    <div class="overflow-x-scroll momentum-scroll mh3 nowrap">
      {% for project in site.data.projects limit: 8 %}
        {% include about/card.html
          img=project.img
          title=project.name
          link=project.link
          class='mr4'
        %}
      {% endfor %}
      {% include about/more.html
        link='projects'
      %}
    </div>
  </section>

  <section class="mb6">
    <h2 class="ma0 mh3">
      <a title="{{ site.writing_desc }}"
        class="db link f4 pv3 dark-gray hide-move-child flex items-center"
        href="{{ 'experiments' | absolute_url }}">
        Experiments
        {% include icons/icon.html type="arrow-right" class="child ml1" %}
      </a>
    </h2>

    <div class="overflow-x-scroll momentum-scroll mh3 nowrap">
      {% for experiment in site.data.experiments limit: 8 %}
        {% include about/card.html
          img=experiment.img
          title=experiment.name
          link=experiment.link
          class='mr4'
        %}
      {% endfor %}
      {% include about/more.html
        link='experiments'
      %}
    </div>
  </section>


  <section class="measure-wide mh3">
    <h2 class="ma0 db f4 bb pv3 dark-gray hide-move-child flex items-center">
      Talks
    </h2>

    {% for talk in site.data.talks %}
      <a class="db f4 link dark-gray pv3 bb dim"
        href="{{ talk.link }}"
        title="{{ talk.title }}">
        {{ talk.title }}
      </a>
    {% endfor %}
  </section>

  {% include footer.html class=" ph3" %}
</div>
<script>
  window.onload = function() {
    var t = new Audio('https://www.nameshouts.com/libs/media/varun_hi.mp3');
    document.querySelector('.vocalizer')
      .addEventListener('click', function() { t.play() });
  };
</script>
