---
layout: default
title: home
---
<div class="mw9 center ph5-l f5 lh-copy dark-gray sans-serif">

  <header class="mt6 mb5 ph3">
    <h1 class="ma0 f4">
      <span class="vocalizer pointer relative bg-child bg-child-gold">
        Varun Vachhar
        <svg viewBox="0 0 24 24"
          class="br-100 bg-moon-gray child"
          width="10" height="10"
          style="padding: 2px;">
          <path fill="#fff" d="M3 9v6h4l5 5V4L7 9H3zm13.5 3A4.5 4.5 0 0 0 14 7.97v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/>
        </svg>
      </span>
    </h1>
    <p class="mt0 measure-wide">finder of new ways to confuse myself</p>
  </header>

  <section class="mb4 ph3">
    <h2 class="ma0 f4">About</h2>
    <p class="mt0 measure-wide">Originally from New Delhi, India. I am a developer with a strong focus on design, interactivity and animation. I currently live in Toronto, Canada and work as a JavaScript developer at <a class="link dim primary" href="https://rangle.io/">Rangle.io</a>. In my spare time, I like to experiment with creative coding, <a class="link dim primary" href="http://triangle.life">triangles</a> and making playful experiences for the web.</p>
  </section>

  <nav class="measure-wide mb6">
    <a class="b ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="varun vachhar on twitter"
      href="http://twitter.com/winkerVSbecks">
      Twitter
    </a>
    <a class="b ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="varun vachhar on github"
      href="http://github.com/winkerVSbecks">
      Github
    </a>
    <a class="b ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="varun vachhar on CodePen"
      href="http://codepen.io/winkerVSbecks">
      CodePen
    </a>
    <a class="b ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="varun vachhar on dribbble"
      href="http://dribbble.com/winkerVSbecks">
      Dribbble
    </a>
    <a class="b ph3 pv2 pv3-ns flex-auto link dark-gray dim dib"
      title="email varun vachhar"
      href="mailto:varunvachhar@gmail.com">
      Email
    </a>
  </nav>

  <section class="measure-wide mh3 mb6">
    <h2 class="ma0">
      <a title="writing about experiments in JavaScript, CSS and reactive animations."
        class="db link f4 bb pv3 dark-gray hide-move-child flex items-center"
        href="{{ 'writing' | absolute_url }}">
        Recent Posts

        <svg class="child ml1"
          viewBox="0 0 24 24"
          style="width: 1em; height: 1em;">
        	<path fill="currentColor"
            d="M24 12l-11-8v6h-13v4h13v6z"></path>
        </svg>

      </a>
    </h2>

    {% for post in site.posts limit:3 %}
      <a class="db f4 link dark-gray pv3 bb"
        href="{{ post.url | absolute_url }}"
        title="{{ post.title }}"
        id="{{ post.url | slugify }}">
        {{ post.title }}
      </a>
    {% endfor %}
  </section>

  <section class="mh3 mb6">
    <h2 class="mt0 f4">Projects</h2>

    <div class="overflow-x-scroll nowrap">
      {% for project in site.data.projects %}
        {% include card.html
          img=project.img
          title=project.name
          link=project.link
        %}
      {% endfor %}

      <!-- <a class="dib ba b--secondary mr4 pointer pa1 bg-secondary"
      style="width: 300px">
        <div class="aspect-ratio aspect-ratio--4x3">
          <div class="aspect-ratio--object cover b flex items-center justify-center blue ttu tracked hide-move-child">
            More

            <svg class="child ml1"
              viewBox="0 0 24 24"
              style="width: 1em; height: 1em;">
            	<path fill="currentColor"
                d="M24 12l-11-8v6h-13v4h13v6z"></path>
            </svg>
          </div>
        </div>
      </a> -->
    </div>
  </section>

  <!--  Moti, Oracle, Motion Poetry, Homesick, Tethered Motion, Attracted, What's In A Motor, Console Font, FM Belfast - "Underwear", Now In 3D, The Receipt Site, Dial-A-Car, Mr. Kranendonk  -->

  {% include footer.html %}
</div>

<script>
  window.onload = function() {
    var t = new Audio('https://www.nameshouts.com/libs/media/varun_hi.mp3');
    document.querySelector('.vocalizer')
      .addEventListener('click', function() { t.play() });
  };
</script>
