<aside class="pv4 dark-gray bt bw1 b--light-gray">
  <h1 class="f4">Related Posts</h1>
  <ul class="pl4">
    {% for post in site.related_posts limit: 5 %}
    <li>
      <a href="{{ post.url | absolute_url }}"
        class="link dim near-black db f5 f4-ns pv2"
        title="{{ post.title }}">
        {{ post.title }}
        <date class="f6 gray" datetime="{{ post.date }}">
          {% include writing/date.html date=post.date %}
        </date>
      </a>
    </li>
    {% endfor %}
  </ul>
</aside>
