<footer class="pv3 pv6-ns">
  <ul class="list pl0 db dark-gray">
    <li class="dib mr3">
      <a class="db f4 link dim mid-gray" title="varun vachhar on twitter" href="http://twitter.com/winkerVSbecks">
        Twitter
      </a>
    </li>
    <li class="dib mr3">
      <a class="db f4 link dim mid-gray" title="varun vachhar on github" href="http://github.com/winkerVSbecks">
        Github
      </a>
    </li>
    <li class="dib mr3">
      <a class="db f4 link dim mid-gray" title="rvarun vachhar on CodePen" href="http://codepen.io/winkerVSbecks">
        CodePen
      </a>
    </li>
    <li class="dib mr3">
      <a class="db f4 link dim mid-gray" title="varun vachhar on dribbble" href="http://dribbble.com/winkerVSbecks">
        Dribbble
      </a>
    </li>
    <li class="dib">
      <a href="mailto:hi@mrmrs.cc" title="Email Varun Vachhar" class="f4 db link dim mid-gray">
        varunvachhar@gmail.com
      </a>
    </li>
  </ul>
</footer>
