<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }} – {{ site.description }}
    {% endif %}
  </title>
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta name="description" content="{{ site.description }}">
  <link rel="author" href="humans.txt">
  {% include icons.html %}
  <style>{% include index.css %}</style>
</head>
