<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Primary Meta Tags -->
  <title>{{ page.title }}</title>
  <meta
    name="description"
    content="{{ page.content | strip_html | truncatewords: 30 }}"
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://varun.ca/" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta
    property="og:description"
    content="{{ page.content | strip_html | truncatewords: 30 }}"
  />
  <meta
    property="og:image"
    content="{% if page.bgImage %}{{ page.bgImage | absolute_url }}{% else %}{{
      '/triangle.png' | absolute_url
    }}{% endif %}"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://varun.ca/" />
  <meta property="twitter:title" content="{{ page.title }}" />
  <meta
    property="twitter:description"
    content="{{ page.content | strip_html | truncatewords: 30 }}"
  />
  <meta
    property="twitter:image"
    content="{% if page.bgImage %}{{ page.bgImage | absolute_url }}{% else %}{{
      '/triangle.png' | absolute_url
    }}{% endif %}"
  />
  <meta
    property="twitter:image:src"
    content="{% if page.bgImage %}{{ page.bgImage | absolute_url }}{% else %}{{
      '/triangle.png' | absolute_url
    }}{% endif %}"
  />

  <link
    rel="canonical"
    href="{{ site.url }}{{ page.url | replace:'index.html',''}}"
  />
  <link rel="author" href="humans.txt" />
  {% include favicons.html %}
  <style>
    {% include index.css %}
  </style>
</head>
