<meta
  itemprop="name"
  content="Bridge. A Rangle Code School"
/>
<meta
  itemprop="description"
  content="Bridge is a free eight week program run by Rangle.io for women in software development."
/>
<meta
  itemprop="image"
  content="/uploads/bridge-logo.jpg"
/>
<meta
  name="twitter:site"
  content="@Rangleio"
/>
<meta
  name="twitter:title"
  content="Bridge. A Rangle Code School"
/>
<meta
  name="twitter:description"
  content="Bridge is a free eight week program run by Rangle.io for women in software development."
/>
<meta
  name="twitter:image"
  content="/uploads/bridge-logo.jpg"
/>
<meta
  name="twitter:image:alt"
  content="Our logo for bridge."
/>
<meta
  property="og:title"
  content="Bridge. A Rangle Code School"
/>
<meta
  property="og:image"
  content="/uploads/bridge-logo.jpg"
/>
<meta
  property="og:description"
  content="Bridge is a free eight week program run by Rangle.io for women in software development."
/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@{{ site.twitter_username }}"/>
<meta name="twitter:title" content="Writing"/>
<meta name="twitter:description" content="{{ site.description }}"/>
<meta name="twitter:image"/>
