<figure class="center pa0 flex justify-around flex-wrap bg-tertiary">
  <pre class="mv0 f6 lh-title code ph2">
grid-template-areas:
  "✈️ ✈️ ✈️ ✈️"
  "⚽️ ⚽️ ⚽️ ⚽️"
  "🖼 🖼 🖼 🖼"
  ".  👀 📋  .";


✈️: Navigation
⚽️: Match Score
🖼: Media
👀: Summary
🗂: Tabs
📋: Tab-Content
</pre>

  <pre class="mv0 f6 lh-solid code ph2">
+-------------------------------------+
|              Navigation             |
+-------------------------------------+
|             Match Score             |
+-------------------------------------+
|                                     |
|               Media                 |
|                                     |
+--+------+-+---+---+---+----------+--+
|  |  su  | |   |   |   |          |  |
|  |  mm  | +---+---+---+----------+  |
|  |  ar  | |                      |  |
|  |  y   | |                      |  |
|  +------+ |                      |  |
|           |                      |  |
|           |          Tabs!       |  |
|           |                      |  |
|           |                      |  |
|           |                      |  |
|           |                      |  |
+-------------------------------------+</pre>
  <figcaption class="clip">[BBC Sport Live Reporting](http://www.bbc.com/sport/live/football/38322056) page recreated with CSS Grid.</figcaption>
</figure>
