<figure class="center pa0 flex justify-center bg-tertiary">
  <pre class="mv0 f6 lh-solid pa3 code overflow-x-scroll">
                                +-- grid-column-start
                                |
             +-- grid-column +--+
             |                  |
             |                  +-- grid-column-end
grid-area +--+
             |                  +-- grid-row-start
             |                  |
             +-- grid-row +-----+
                                |
                                +-- grid-row-end</pre>
  <figcaption class="clip">Grid area is made up of a grid column and a grid row. Grid column and row both require a start and an end point.</figcaption>
</figure>
