<figure class="center pa0 flex justify-around flex-wrap bg-tertiary">
  <pre class="mv0 f6 lh-solid code ph0">
Large-Breakpoint
  min-width: 60em



+----+ +------------------+ +-----------+
|meta| | title            | | copy2     |
|    | |                  | |           |
+----+ +------------------+ +-----------+
+-------------------------+ +-----------+
| copy1                   | | copy2     |
|                         | |           |
+-------------------------+ +-----------+
+-------------------------+ +-----------+
|  copy1                  | | copy2     |
|                         | |           |
+-------------------------+ +-----------+
+---------------------------------------+
| media                                 |
|                                       |
+---------------------------------------+
+-----------+ +-------------------------+
|  aside    | | copy3                   |
|           | |                         |
+-----------+ +-------------------------+</pre>

  <pre class="mv0 f6 lh-solid code ph0">
Medium-Breakpoint
  min-width: 30em
  and max-width: 60em


+-----+ +-------------------+
|meta | | title             |
|     | |                   |
+-----+ +-------------------+
+---------------------------+
| copy1                     |
|                           |
+---------------------------+
+---------------------------+
| copy2                     |
|                           |
+---------------------------+
+---------------------------+
| media                     |
|                           |
+---------------------------+
+---------------------------+
| aside                     |
|                           |
+---------------------------+
+---------------------------+
| copy3                     |
|                           |
+---------------------------+</pre>
  <pre class="mv0 f6 lh-solid code ph0">
Small-Breakpoint
  min-width: 60em



+---------------+
| title         |
|               |
+---------------+
+---------------+
| meta          |
|               |
+---------------+
+---------------+
| copy1         |
|               |
+---------------+
+---------------+
| copy2         |
|               |
+---------------+
+---------------+
| media         |
|               |
+---------------+
+---------------+
| aside         |
|               |
+---------------+
+---------------+
| copy3         |
|               |
+---------------+</pre>
  <figcaption class="clip">The magazine style lauout of <a href="https://theoutline.com/post/1424/hawaii-s-online-gaming-curse">Hawaii's Online Gaming Curse – The Outline</a></figcaption>
</figure>
