<figure class="center pa0 flex justify-center bg-tertiary">
  <pre class="mv0 f6 lh-solid code">
Named Areas


+---+---+---+---+---+---+
|░░░░░░░░░░░░░░░░░░░░░░░|
|░░░░░░░ Header ░░░░░░░░|
|░░░░░░░░░░░░░░░░░░░░░░░|
+-------------------+---+
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░░░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░A░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░s░|
|▒▒▒▒▒ Content ▒▒▒▒▒|░i░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░d░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░e░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░░░|
+-------------------+---+
|░░░░░░░░░░░░░░░░░░░░░░░|
|░░░░░░░ Footer ░░░░░░░░|
|░░░░░░░░░░░░░░░░░░░░░░░|
+-----------------------+</pre>
  <figcaption class="clip">We can define named grid areas to place content into.</figcaption>
</figure>
