<figure class="center pa0 flex justify-around flex-wrap bg-tertiary">
  <pre class="mv0 f6 lh-copy code">
.my-grid {
  display: grid;
  grid-template-areas: "header   header   header"
                       "content  content    side"
                       "footer   footer   footer";
}
  </pre>
  <pre class="mv0 f6 lh-solid code">
Named Areas


+-----------------------+
|░░░░░░░░░░░░░░░░░░░░░░░|
|░░░░░░░ Header ░░░░░░░░|
|░░░░░░░░░░░░░░░░░░░░░░░|
+---------------+-------+
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░░░░░░░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░░░A░░░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░░░s░░░|
|▒▒▒ Content ▒▒▒|░░░i░░░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░░░d░░░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░░░e░░░|
|▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒|░░░░░░░|
+---------------+-------+
|░░░░░░░░░░░░░░░░░░░░░░░|
|░░░░░░░ Footer ░░░░░░░░|
|░░░░░░░░░░░░░░░░░░░░░░░|
+-----------------------+</pre>
  <figcaption class="clip">We can define named grid areas to place content into.</figcaption>
</figure>
