<figure class="mh0 pa0 w-70 center">
  <svg viewBox="0 0 228 228" xmlns="http://www.w3.org/2000/svg" class="db">
    <g fill="none" fill-rule="evenodd">
      <path d="M227.118 114.268H.346" stroke="#BFBFBF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M221.449 111.433l5.772 2.607c.196.088.196.367 0 .456l-5.772 2.606 2.834-2.834" fill="#BFBFBF"/>
      <path d="M113.732.882v226.772" stroke="#BFBFBF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M110.898 6.551l2.606-5.772c.089-.196.368-.196.456 0l2.607 5.772-2.835-2.834" fill="#BFBFBF"/>
      <path d="M170.413 114.22c0-31.294-25.399-56.693-56.693-56.693-31.294 0-56.693 25.399-56.693 56.693 0 31.294 25.399 56.693 56.693 56.693 31.294 0 56.693-25.399 56.693-56.693" stroke="#000" stroke-width=".499" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M162.831 114.268V85.921m-49.099 0h49.099" stroke="#0F0" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M162.831 85.921l-49.099 28.347" stroke="#F0F" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M164.277 85.9c0-.782-.635-1.417-1.417-1.417s-1.417.635-1.417 1.417.635 1.417 1.417 1.417 1.417-.635 1.417-1.417m-49.14 28.38c0-.782-.635-1.417-1.417-1.417s-1.417.635-1.417 1.417.635 1.417 1.417 1.417 1.417-.635 1.417-1.417" fill="#000"/>
      <text font-family="CourierCE, Courier" font-size="6" fill="#000" transform="translate(0 -55)">
        <tspan x="131.6548" y="165.7728">θ = 30°</tspan>
      </text>
      <text font-family="CourierCE, Courier" font-size="6" fill="#000" transform="translate(0 -55)">
        <tspan x="122.0698" y="149.9418">r = 2</tspan>
      </text>
      <text font-family="CourierCE, Courier" font-size="8" fill="#000" transform="translate(0 -55)">
        <tspan x="160.549" y="179.5875">x</tspan>
      </text>
      <text font-family="CourierCE, Courier" font-size="8" fill="#000" transform="translate(0 -55)">
        <tspan x="102.9474" y="142.7315">y</tspan>
      </text>
      <text font-family="CourierCE, Courier" font-size="10" fill="#000" transform="translate(0 -55)">
        <tspan x="167.4331" y="139.5339">P</tspan>
      </text>
      <text font-family="CourierCE, Courier" font-size="10" fill="#000" transform="translate(0 -55)">
        <tspan x="104.9111" y="178.1899">O</tspan>
      </text>
      <path d="M127.906 114.268c0-2.488-.655-4.932-1.899-7.087" stroke="#F0F" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
  </svg>
  <figcaption class="tc mt3 code"><b>Figure 2:</b> Polar coordinate system</figcaption>
</figure>
