<figure class="mh0 pa0 flex flex-wrap justify-center items-center">
  <svg
    viewBox="0 0 540 540"
    class="center" style="height: 400px;"
    fill="none"
    stroke="#333"
    stroke-linejoin="round"
    stroke-linecap="round"
    stroke-width="2">
    <defs>
      <pattern id="diagonal-stripe-2" patternUnits="userSpaceOnUse" width="10" height="10">
        <rect width='10' height='10' stroke="none" fill="#fff" />
        <path d='M-1,1 l2,-2
                  M0,10 l10,-10
                  M9,11 l2,-2'
          stroke="#333"
          stroke-width="1" />
      </pattern>
    </defs>
    <circle stroke="#ff0000" cx="315" cy="347.9422863405995" r="155.885" ></circle>
    <circle stroke="#00ff00" cx="180" cy="270" r="155.885" ></circle>
    <circle stroke="#0000ff" cx="315" cy="192.0577136594005" r="155.8845726811990" ></circle>
    <path
      fill="url(#diagonal-stripe-2)"
      fill-opacity="0.5"
      stroke-width="4"
      d="M 315 347.9422863405995
        A 155.885 155.885 0 0 1 180 270
        A 155.885 155.885 0 0 1 315 192.0577136594005
        A 155.885 155.885 0 0 1 315 347.9422863405995
        Z"
    />
    <path
      stroke="#f0f"
      stroke-width="2"
      d="M 315 347.9422863405995
        L 180 270
        L 315 192.0577136594005
        Z"
    />
  </svg>
  <figcaption class="clip">construction of Reuleaux triangle</figcaption>
</figure>
