<figure class="center pa0 flex justify-around flex-wrap bg-tertiary">
  <pre class="mv0 f6 lh-solid code">
░░: visible viewport area

+--------------------------------+
|                                |
|                                |
|                                |
|                                |
+--------------------------------+
|░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░|
|░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░|
|░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░|
|░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░|
|░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░|
+--------------------------------+
|                                |
|                                |
|                                |
|                                |
+--------------------------------+
          width > height</pre>
  <pre class="mv0 f6 lh-solid code">


+-----+-------------+-----+
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
|     |░░░░░░░░░░░░░|     |
+-----+-------------+-----+
       height > width</pre>
</figure>
