<figure class="mh0 mb6 db f5">
  <div class="bg-dark-gray code pa3 flex flex-wrap flex-nowrap-l items-center justify-between">
    <div class="white measure-narrow mb4 mb0-l mr4-ns">
      <div class="b mb2">system-components</div>
      <div class="f6 ml0">simpler authoring experience to create design-system-driven React UI components</div>
    </div>
    <div class="flex-auto measure-narrow-l">
      <div class="pv2 ph3 bg-white dark-gray mb3 f6">
        Additional features such as default value for props & <b>is</b> prop
      </div>
      <div class="pv2 ph3 bg-white dark-gray mb3">
        <div class="b mb2">clean-tag & clean-element</div>
        <div class="f6 ml0">removes styled-system props from the underlying DOM elements</div>
      </div>
      <div class="pv2 ph3 bg-white dark-gray mb3">
        <div class="b mb2">styled-system</div>
        <div class="f6 ml0">framework agnostic design system utilities</div>
      </div>
      <div class="pv2 ph3 bg-white dark-gray">
        <div class="b mb2">styled-components</div>
        <div class="f6 ml0">a css-in-js library</div>
      </div>
    </div>
  </div>
  <figcaption class="clip">system-components is comprised of styled-components, styled-system, clean-tag and clean-element. It also gives us the ability to provide default values for props.</figcaption>
</figure>