---
layout: default
---

{% include nav.html link='/writing' %}

<article class="mw7 center ph3 mv6 dark-gray">
  <header class="system-sans mb6">
    <date class="f6 gray" datetime="{{ page.date }}">
      {% include writing/date.html date=page.date %}
    </date>
    <h1 class="f3 f2-m f1-ns mt1">
      {{ page.title }}
    </h1>
  </header>

  <!-- post content -->
  <div class="f5 f4-ns lh-copy nested"
    id="js-post-content">
    {{ content }}
  </div>
  <!-- end of post content -->

  <div class="mt5">
    <a href="https://twitter.com/share"
      class="twitter-share-button"
      data-via="winkerVSbecks"
      data-size="large">Tweet</a>
  </div>
</article>

<div class="mw7 center ph3">
  {% include writing/related-posts.html %}
  {% include footer.html %}
</div>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<script>
function _toConsumableArray(arr) {
  if (Array.isArray(arr)) {
    for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) {
      arr2[i] = arr[i];
    }
    return arr2;
  } else {
    return Array.from(arr);
  }
}

var headingQuery = 'h2[id],h3[id],h4[id],h5[id],h6[id]';
var headings = document.querySelectorAll(headingQuery);
[].concat(_toConsumableArray(headings)).forEach(function(heading) {
  heading.innerHTML =
    '<a href="#' +
    heading.id +
    '" class="link" style="color: inherit;"> ' +
    heading.innerText +
    ' </a>';
});
</script>
